---
export const prerender = false;
import Layout from '@layouts/Default.astro';

import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "../../lib/contentful"; // Type-only import

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "landingPageblog", // Updated content type ID
  });

  const pages = entries.items.map((item: any) => {
    let imageUrl = '';
    if (item.fields.mainBlogImage && item.fields.mainBlogImage.fields) {
      try {
        imageUrl = item.fields.mainBlogImage.fields.file.url;
      } catch (error) {
        console.error('Error fetching asset:', error);
      }
    }

    return {
      params: { slug: String(item.fields.slug) },
      props: {
        title: item.fields.heroTitle,
        content: documentToHtmlString(item.fields.content), // Corrected field name
        date: new Date(item.fields.date).toLocaleDateString(),
        mainBlogImage: imageUrl
      }
    };
  });

  return {
    paths: pages,
    fallback: false
  };
}

const { content, title, date, mainBlogImage } = Astro.props;
---
<Layout>
  <div class="flex xs:flex-col md:justify-evenly lg:flex lg:justify-evenly mt-32 mb-20 w-full md:px-24 xs:px-3">
    <div class="md:flex md:flex-col items-center">
      <h1 class="text-3xl font-bold text-center text-slate-700 md:pt-12 pb-5">{title}</h1>
      {mainBlogImage && <img class="drop-shadow-lg rounded-lg" src={mainBlogImage} alt={title} />}
      <article set:html={content}></article>
    </div>
  </div>
</Layout>