---
import { Icon } from 'astro-icon/components'

interface Props {
  number: string
  title: string
  text?: string
}

const sampleText = `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sic, et quidem
      diligentius saepiusque ista loquemur inter nos agemusque communiter. Quid
      enim necesse est, tamquam meretricem .`

const { number, title, text = sampleText } = Astro.props
---

<div class="bg-white dark:bg-muted-950 dark:border-muted-800 border border-muted-200 relative flex flex-col z-10 shadow-lg shadow-muted-300/30 dark:shadow-muted-800/20">
  <div class="p-8 pb-3">
    <span class="text-lg text-muted-700 dark:text-muted-500">{number}</span>
  </div>
  <div class="px-8 before:absolute before:w-[5px] before:bg-primary-500 before:h-full relative before:start-0 before:top-0">
    <h3 class="dark:text-white font-sans text-muted-900 font-semibold text-2xl">
      {title}
    </h3>
  </div>
  <div class="p-8 pt-3">
    <p class="text-base text-muted-500 dark:text-muted-400">{text}</p>
  </div>
  <div class="mt-auto p-8 pt-0">
    <a
      href="#"
      class="inline-flex group items-center text-primary-500 relative after:content-[''] after:absolute after:h-[2px] after:bg-primary-500 after:transition-['width'] after:duration-300 after:w-0 after:hover:w-full after:-bottom-[0.15rem] after:start-0"
    >
      <span class="whitespace-nowrap me-1">Learn More</span>
      <Icon name="lucide:arrow-right" class="group-hover:translate-x-1 transition-transform duration-300 h-5 aspect-auto text-primary-500 fill-primary" />
    </a>
  </div>
</div>
