---
import { Icon } from 'astro-icon/components'
---

<div class="pb-16">
  <div class="w-full">
    <!--Section title-->
    <div class="w-full max-w-md mb-5">
      <h2 class="font-sans font-light text-3xl text-muted-800 dark:text-white mb-4">Features</h2>
      <p class="font-sans text-muted-500 dark:text-muted-400">
        Masonry ships with finely designed elements and amazing prebuilt pages. Everything you need to create a professional and engaging website is there, with minimal configuration required.
      </p>
    </div>

    <!--Features-->
    <div class="w-full mt-8">
      <div class="grid md:grid-cols-3 lg:grid-cols-3 gap-x-4 gap-y-8">
        <!--Feature-->
        <div>
          <Icon name="circum:grid-3-2" class="w-8 h-8 text-primary-600 mb-2" />
          <h3 class="font-sans font-light text-lg text-muted-800 dark:text-muted-100 mb-1">Modern UI</h3>
          <p class="xs:max-w-[240px] font-sans text-sm text-muted-500 dark:text-muted-400">A clean, well designed and well integrated UI for your app.</p>
        </div>

        <!--Feature-->
        <div class="relative">
          <div>
            <Icon name="circum:keyboard" class="w-8 h-8 text-primary-600 mb-2" />
            <h3 class="font-sans font-light text-lg text-muted-800 dark:text-muted-100 mb-1">Clean code</h3>
            <p class="xs:max-w-[240px] font-sans text-sm text-muted-500 dark:text-muted-400">A clean code structure is there to help you with your workflow.</p>
          </div>
        </div>

        <!--Feature-->
        <div class="relative">
          <div>
            <Icon name="circum:palette" class="w-8 h-8 text-primary-600 mb-2" />
            <h3 class="font-sans font-light text-lg text-muted-800 dark:text-muted-100 mb-1">Easy Theming</h3>
            <p class="xs:max-w-[240px] font-sans text-sm text-muted-500 dark:text-muted-400">Masonry uses native Tailwind colors and makes theming super easy.</p>
          </div>
        </div>
        <!--Feature-->
        <div class="relative">
          <div>
            <Icon name="circum:dark" class="w-8 h-8 text-primary-600 mb-2" />
            <h3 class="font-sans font-light text-lg text-muted-800 dark:text-muted-100 mb-1">Native dark mode</h3>
            <p class="xs:max-w-[240px] font-sans text-sm text-muted-500 dark:text-muted-400">Masonry ships with a great native dark mode out of the box.</p>
          </div>
        </div>
        <!--Feature-->
        <div class="relative">
          <div>
            <Icon name="circum:globe" class="w-8 h-8 text-primary-600 mb-2" />
            <h3 class="font-sans font-light text-lg text-muted-800 dark:text-muted-100 mb-1">RTL support</h3>
            <p class="xs:max-w-[240px] font-sans text-sm text-muted-500 dark:text-muted-400">Masonry supports RTL based layouts, just switch the stylesheet.</p>
          </div>
        </div>
        <!--Feature-->
        <div class="relative">
          <div>
            <Icon name="circum:lock" class="w-8 h-8 text-primary-600 mb-2" />
            <h3 class="font-sans font-light text-lg text-muted-800 dark:text-muted-100 mb-1">GitHub access</h3>
            <p class="xs:max-w-[240px] font-sans text-sm text-muted-500 dark:text-muted-400">We grant you access to the private GitHub repo for live updates.</p>
          </div>
        </div>
        <!--Feature-->
        <div class="relative">
          <div>
            <Icon name="circum:timer" class="w-8 h-8 text-primary-600 mb-2" />
            <h3 class="font-sans font-light text-lg text-muted-800 dark:text-muted-100 mb-1">Lifetime updates</h3>
            <p class="xs:max-w-[240px] font-sans text-sm text-muted-500 dark:text-muted-400">You're entitled to receive lifetime updates for this product.</p>
          </div>
        </div>
        <!--Feature-->
        <div class="relative">
          <div>
            <Icon name="circum:folder-on" class="w-8 h-8 text-primary-600 mb-2" />
            <h3 class="font-sans font-light text-lg text-muted-800 dark:text-muted-100 mb-1">Documentation</h3>
            <p class="xs:max-w-[240px] font-sans text-sm text-muted-500 dark:text-muted-400">An extensive documentation helps you setting up everything.</p>
          </div>
        </div>
        <!--Feature-->
        <div class="relative">
          <div>
            <Icon name="circum:medal" class="w-8 h-8 text-primary-600 mb-2" />
            <h3 class="font-sans font-light text-lg text-muted-800 dark:text-muted-100 mb-1">Support</h3>
            <p class="xs:max-w-[240px] font-sans text-sm text-muted-500 dark:text-muted-400">A dedicated customer support portal to post your requests.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
