<section class="relative w-full pt-20 px-4 bg-white dark:bg-muted-900 overflow-hidden min-h-[680px]">
  <div class="absolute start-0 top-0 flex h-full w-full justify-center">
    <div class="shrink-0">
      <svg width="1640" height="1024" viewBox="0 0 1440 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1232_2031)">
          <path
            d="M15.5 1024V0M79.5 1024V0M143.5 1024V0M207.5 1024V0M271.5 1024V0M335.5 1024V0M399.5 1024V0M463.5 1024V0M527.5 1024V0M591.5 1024V0M655.5 1024V0M719.5 1024V0M783.5 1024V0M847.5 1024V0M911.5 1024V0M975.5 1024V0M1039.5 1024V0M1103.5 1024V0M1167.5 1024V0M1231.5 1024V0M1295.5 1024V0M1359.5 1024V0M1423.5 1024V0M0 31.5H1440M0 95.5H1440M0 159.5H1440M0 223.5H1440M0 287.5H1440M0 351.5H1440M0 415.5H1440M0 479.5H1440M0 543.5H1440M0 607.5H1440M0 671.5H1440M0 735.5H1440M0 799.5H1440M0 863.5H1440M0 927.5H1440M0 991.5H1440"
            class="stroke-current text-muted-100 dark:text-muted-800/50"></path>
          <path d="M272 160H335V223H272V160Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M1168 800H1231V863H1168V800Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M528 96H591V159H528V96Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M1104 160H1167V223H1104V160Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M1232 352H1295V415H1232V352Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M1040 672H1103V735H1040V672Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M784 800H847V863H784V800Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M336 480H399V543H336V480Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M208 800H271V863H208V800Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M464 736H527V799H464V736Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M336 224H399V287H336V224Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M976 287H1039V350H976V287Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M720 864H783V927H720V864Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M1232 480H1295V543H1232V480Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M1168 544H1231V607H1168V544Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M784 224H847V287H784V224Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M208 352H271V415H208V352Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M272 608H335V671H272V608Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M144 480H207V543H144V480Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M848 32H911V95H848V32Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M528 352H591V415H528V352Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
          <path d="M912 480H975V543H912V480Z" class="fill-current text-muted-50 dark:text-muted-800/20"></path>
        </g>
      </svg>
    </div>
  </div>
  <div class="relative w-full max-w-7xl mx-auto">
    <!--CTA-->
    <div class="w-full flex flex-col ltablet:flex-row lg:flex-row items-center ltablet:-m-6 lg:-m-6">
      <!--Column-->
      <div class="w-full ltablet:w-1/2 lg:w-1/2 p-6">
        <div class="max-w-md space-y-4 text-center mx-auto ltablet:text-start lg:text-start ltablet:mx-0 lg:mx-0">
          <h2 class="font-sans font-light text-4xl text-muted-800 dark:text-white">Ready to dive in?</h2>
          <p class="font-sans text-base md:text-lg text-muted-500 dark:text-muted-400">
            Forget about the hassle, about spaghetti sauce template code and start working with a clean and professional UI template.
          </p>

          <div class="flex items-center justify-center ltablet:justify-start lg:justify-start gap-x-2">
            <a
              href="https://go.cssninja.io/buy-masonry/"
              class="relative font-sans font-normal inline-flex items-center justify-center leading-5 no-underline min-w-[130px] space-x-1 text-white bg-primary-600 h-12 px-5 py-3 text-base rounded-md hover:bg-primary-500 hover:shadow-xl hover:shadow-primary-500/20 tw-accessibility transition-all duration-300"
            >
              Buy Now
            </a>
            <a
              href="https://go.cssninja.io/docs-masonry/"
              class="relative font-sans font-normal inline-flex items-center justify-center leading-5 no-underline min-w-[130px] space-x-1 text-slate-700 bg-white border dark:text-white dark:bg-slate-700 dark:border-slate-600 h-12 px-5 py-3 text-base rounded-md hover:bg-slate-50 tw-accessibility transition-all duration-300"
            >
              Read Docs
            </a>
          </div>
        </div>
      </div>
      <!--Column-->
      <div class="w-full ltablet:w-1/2 lg:w-1/2 px-6 pt-6 pb-0 ltablet:p-6 lg:p-6">
        <img
          class="block ptablet:max-w-xl ptablet:mx-auto dark:hidden border border-muted-200 dark:border-muted-800 border-b-0 rounded-t-lg shadow-2xl shadow-muted-500/20 dark:shadow-muted-800/20"
          src="/images/demo/masonry-mockup-1.png"
          alt="Masonry Mockup"
          width="570"
          height="495"
        />
        <img
          class="hidden dark:block ptablet:max-w-xl ptablet:mx-auto border border-muted-200 dark:border-muted-800 border-b-0 rounded-t-lg shadow-2xl shadow-muted-500/20 dark:shadow-muted-800/20"
          src="/images/demo/masonry-mockup-1-dark.png"
          alt="Masonry Mockup"
          width="570"
          height="495"
        />
      </div>
    </div>
  </div>
</section>
