---
import { Icon } from 'astro-icon/components'
---

<div class="pb-16">
  <div class="w-full mt-6">
    <!--Section title-->
    <div id="get-started" class="w-full max-w-md mb-5">
      <h2 class="font-sans font-light text-3xl text-muted-800 dark:text-white mb-4">Built with</h2>
      <p class="font-sans text-muted-500 dark:text-muted-400">
        Masonry is a sleek and modern Real Estate template that uses the Astro platform as its foundation and is built with TailwindCSS and Alpine.js.
      </p>
    </div>

    <div class="grid md:grid-cols-4 lg:grid-cols-4 gap-3">
      <!--Grid item-->
      <div
        class="block py-8 px-4 rounded-xl text-center bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
      >
        <Icon name="logos:astro-icon" class="block w-9 h-9 mx-auto mb-3" />
        <h3 class="font-sans font-medium text-base text-muted-800 dark:text-white">Astro</h3>
        <p class="font-sans text-xs text-muted-500 dark:text-muted-400">Version 4.x</p>
      </div>
      <!--Grid item-->
      <div
        class="block py-8 px-4 rounded-xl text-center bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
      >
        <Icon name="logos:alpinejs-icon" class="block w-11 h-11 mx-auto mb-1" />
        <h3 class="font-sans font-medium text-base text-muted-800 dark:text-white">Alpine.js</h3>
        <p class="font-sans text-xs text-muted-500 dark:text-muted-400">Version 3.x</p>
      </div>
      <!--Grid item-->
      <div
        class="block py-8 px-4 rounded-xl text-center bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
      >
        <Icon name="logos:tailwindcss-icon" class="block w-11 h-11 mx-auto mb-1" />
        <h3 class="font-sans font-medium text-base text-muted-800 dark:text-white">Tailwind CSS</h3>
        <p class="font-sans text-xs text-muted-500 dark:text-muted-400">Version 3.x</p>
      </div>
      <!--Grid item-->
      <div
        class="block py-8 px-4 rounded-xl text-center bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
      >
        <Icon name="logos:html-5" class="block w-9 h-9 mx-auto mb-3" />
        <h3 class="font-sans font-medium text-base text-muted-800 dark:text-white">Html5</h3>
        <p class="font-sans text-xs text-muted-500 dark:text-muted-400">Html Files</p>
      </div>
    </div>
  </div>
</div>
