---
const { post } = Astro.props;
---

<section class="relative bg-primary text-secondary h-screen p-12 my-4">
    {
        post.featured_image && (
            <div
                class="w-full h-72 bg-cover bg-center rounded-lg"
                style={`background-image: url(${post.featured_image})`}
            />
        )
    }

    <div class="max-w-4xl mx-auto px-6 lg:px-12">
        <!-- Overlapping title card -->
        <div
            class="relative -mt-16 bg-white shadow-lg rounded-lg p-6 lg:p-10 text-center"
        >
            <h1 class="text-3xl lg:text-5xl font-extrabold text-secondary">
                {post.title}
            </h1>
            <p class="text-foreground mt-2 text-lg">
                {post.published_at || "Unpublished"}
            </p>
        </div>

        <!-- Content Section -->
        <article
            class="mt-12 bg-white shadow-md rounded-lg p-6 lg:p-10 text-secondary"
        >
            <div
                set:html={post.content}
                class="prose prose-lg text-muted max-w-full"
            />
        </article>
    </div>
</section>
