@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  @apply h-full flex flex-col;
  font-family: "Roboto Flex", sans-serif;
  max-width: 100% !important;
  overflow-x: hidden;
}




[x-cloak] {
  display: none !important;
}
