@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  @apply h-full flex flex-col;
  font-family: "Roboto Flex", sans-serif;
  max-width: 100% !important;
  overflow-x: hidden;
}


/* global.scss */
[x-cloak] {
  display: none !important;
}

/* customDateRange.css */
.rdrCalendarWrapper .rdrDay span.rdrStartEdge,
.rdrCalendarWrapper .rdrDay span.rdrEndEdge,
.rdrCalendarWrapper .rdrDay span.rdrInRange {
  background-color: #0891b2; /* cyan-600 */
  color: white;
}