---
import { Icon } from 'astro-icon/components'
---

<div class="relative">
  <!-- Polka dots -->

  <div x-data="projectsSwiper" class="relative z-[2]">
    <div class="flex justify-end mb-6">
      <button
        @click="swiper.slidePrev()"
        class="flex justify-center items-center outline-none h-8 aspect-square text-lg rounded-md cursor-pointer transition-colors duration-300 bg-none hover:bg-muted-100 hover:dark:bg-muted-800 group"
      >
        <Icon class="text-muted-500 group-hover:text-muted-900 pointer-events-none dark:group-hover:text-white size-4 aspect-auto" name="lucide:arrow-left" />
      </button>

      <button
        @click="swiper.slideNext()"
        class="flex justify-center items-center outline-none h-8 aspect-square text-lg rounded-md cursor-pointer transition-colors duration-300 bg-none hover:bg-muted-100 hover:dark:bg-muted-800 group"
      >
        <Icon class="text-muted-500 group-hover:text-muted-900 pointer-events-none dark:group-hover:text-white size-4 aspect-auto" name="lucide:arrow-right" />
      </button>
    </div>
    <div class="overflow-hidden" x-ref="container">
      <div class="swiper-wrapper">
        <!-- Slides -->

      </div>
    </div>
  </div>
</div>
