---
import Container from "@components/Container.astro";
import { SquareArrowRight } from "lucide-react";
---

<section
    id="HeroSplit"
    class="relative bg-primary text-secondary h-[65vh] flex items-center justify-center px-6 font-sans"
>
    <div class="inline-flex justify-start items-center w-full">
        <div class="w-1/3 relative z-50 h-full flex flex-col justify-end">
            <h1 class="text-5xl font-bold mb-4">
                Find Your Perfect Vacation Rental in Myrtle Beach
            </h1>
            <p class="text-lg text-secondary mb-6">
                Begin your search to see available vacation rentals.
            </p>
            <a href="/property-search" class="lp-button relative z-50 w-1/3">
                <button class="flex flex-nowrap items-center gap-2"
                    >Search Properties <SquareArrowRight /></button
                ></a
            >
        </div>
        <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-primary via-primary to-transparent opacity-40"
        >
        </div>
    </div>

    <div
        class="hidden md:block w-full lg:w-1/2 h-[392px] lg:h-full lg:absolute end-0 top-0 z-0"
    >
        <img
            src={"/images/hero-beach.jpg"}
            class="2xl:w-min"
            width={500}
            height={500}
            alt="hero"
        />
    </div>
</section>
