---
import { Icon } from 'astro-icon/components'
import Section from '@components/Section.astro'
import Container from '@components/Container.astro'
---

<Section>
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-6 lg:gap-x-12 w-full">
      <!-- Icon block -->
      <div>
        <div class="py-4 flex flex-col items-start md:items-center lg:items-start">
          <Icon class="size-8 text-primary-500" name="ph:timer-duotone" />
          <h4 class="font-sans font-semibold text-xl text-muted-900 dark:text-white pt-3">Optimal delays</h4>
          <p class="pt-2 max-w-xs text-start md:text-center lg:text-start text-sm text-muted-500 dark:text-muted-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed videbimus et silicum caratonim para est belletum.</p>
        </div>
      </div>
      <!-- Icon block -->
      <div>
        <div class="py-4 flex flex-col items-start md:items-center lg:items-start">
          <Icon class="size-8 text-primary-500" name="ph:scroll-duotone" />
          <h4 class="font-sans font-semibold text-xl text-muted-900 dark:text-white pt-3">Simplified contracts</h4>
          <p class="pt-2 max-w-xs text-start md:text-center lg:text-start text-sm text-muted-500 dark:text-muted-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed videbimus et silicum caratonim para est belletum.</p>
        </div>
      </div>
      <!-- Icon block -->
      <div>
        <div class="py-4 flex flex-col items-start md:items-center lg:items-start">
          <Icon class="size-8 text-primary-500" name="ph:buildings-duotone" />
          <h4 class="font-sans font-semibold text-xl text-muted-900 dark:text-white pt-3">Modern projects</h4>
          <p class="pt-2 max-w-xs text-start md:text-center lg:text-start text-sm text-muted-500 dark:text-muted-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed videbimus et silicum caratonim para est belletum.</p>
        </div>
      </div>
      <!-- Icon block -->
      <div>
        <div class="py-4 flex flex-col items-start md:items-center lg:items-start">
          <Icon class="size-8 text-primary-500" name="ph:coins-duotone" />
          <h4 class="font-sans font-semibold text-xl text-muted-900 dark:text-white pt-3">Affordable prices</h4>
          <p class="pt-2 max-w-xs text-start md:text-center lg:text-start text-sm text-muted-500 dark:text-muted-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed videbimus et silicum caratonim para est belletum.</p>
        </div>
      </div>
      <!-- Icon block -->
      <div>
        <div class="py-4 flex flex-col items-start md:items-center lg:items-start">
          <Icon class="size-8 text-primary-500" name="ph:sketch-logo-duotone" />
          <h4 class="font-sans font-semibold text-xl text-muted-900 dark:text-white pt-3">10 years warranty</h4>
          <p class="pt-2 max-w-xs text-start md:text-center lg:text-start text-sm text-muted-500 dark:text-muted-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed videbimus et silicum caratonim para est belletum.</p>
        </div>
      </div>
      <!-- Icon block -->
      <div>
        <div class="py-4 flex flex-col items-start md:items-center lg:items-start">
          <Icon class="size-8 text-primary-500" name="ph:handshake-duotone" />
          <h4 class="font-sans font-semibold text-xl text-muted-900 dark:text-white pt-3">Customer service</h4>
          <p class="pt-2 max-w-xs text-start md:text-center lg:text-start text-sm text-muted-500 dark:text-muted-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed videbimus et silicum caratonim para est belletum.</p>
        </div>
      </div>
      <!-- Icon block -->
      <div>
        <div class="py-4 flex flex-col items-start md:items-center lg:items-start">
          <Icon class="size-8 text-primary-500" name="ph:truck-duotone" />
          <h4 class="font-sans font-semibold text-xl text-muted-900 dark:text-white pt-3">Free moving</h4>
          <p class="pt-2 max-w-xs text-start md:text-center lg:text-start text-sm text-muted-500 dark:text-muted-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed videbimus et silicum caratonim para est belletum.</p>
        </div>
      </div>
      <!-- Icon block -->
      <div>
        <div class="py-4 flex flex-col items-start md:items-center lg:items-start">
          <Icon class="size-8 text-primary-500" name="ph:lamp-duotone" />
          <h4 class="font-sans font-semibold text-xl text-muted-900 dark:text-white pt-3">Interior design</h4>
          <p class="pt-2 max-w-xs text-start md:text-center lg:text-start text-sm text-muted-500 dark:text-muted-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed videbimus et silicum caratonim para est belletum.</p>
        </div>
      </div>
    </div>
  </Container>
</Section>
