---
import Section from '@components/Section.astro'
import Container from '@components/Container.astro'
---

<Section>
  <Container>
    <div class="grid gap-2.5 auto-rows-[200px] min-h-screen grid-flow-row-dense grid-cols-[repeat(auto-fit,minmax(200px,1fr))] grid-rows-[repeat(auto-fit,minmax(200px,1fr))] py-12 px-2.5">
      <div class="overflow-hidden col-span-1 row-span-1 bg-rose-500">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/4.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-2 row-span-2 bg-primary-800">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/properties/3.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-1 row-span-2 bg-amber-500">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/8.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-1 row-span-1 bg-muted-300">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/properties/1.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-2 row-span-1 bg-indigo-600">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/1.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-2 row-span-1 bg-muted-300">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/2.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-1 row-span-1 bg-emerald-500">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/13.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-1 row-span-1 bg-muted-300">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/properties/2.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-2 row-span-2 bg-indigo-800">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/5.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-1 row-span-1 bg-muted-300">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/11.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-1 row-span-1 bg-violet-600">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/6.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-1 row-span-1 bg-muted-300">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/14.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-2 row-span-1 bg-rose-500">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/4.webp" sizes="100%" alt="" />
      </div>
      <div class="overflow-hidden col-span-1 row-span-1 bg-muted-300">
        <img class="object-cover min-h-full min-w-full" src="/images/photo/buildings/10.webp" sizes="100%" alt="" />
      </div>
    </div>
  </Container>
</Section>
