---
import { Icon } from 'astro-icon/components'
import Section from '@components/Section.astro'
import Container from '@components/Container.astro'
import PropertyCard from '@components/ui/PropertyCard.astro'

interface Props {
  properties: Property[]
}

const { properties } = Astro.props
---

<Section>
  <Container>
    <div class="flex flex-col">
      <!--Header-->
      <div class="flex justify-between md:items-center">
        <div class="flex flex-col md:flex-row md:items-center gap-3">
          <div
            class="h-14 w-14 flex justify-center items-center rounded-full border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-950 shadow-lg shadow-muted-300/30 dark:shadow-muted-800/20"
          >
            <div class="h-12 w-12 flex justify-center items-center rounded-full bg-muted-50 dark:bg-muted-900">
              <Icon name="ph:house-duotone" class="size-5 aspect-square dark:text-white" />
            </div>
          </div>
          <div class="flex flex-col">
            <h2 class="font-sans font-medium text-2xl text-muted-900 dark:text-white">Popular properties</h2>
            <p class="text-sm text-muted-400">This is a nice subtitle and longer text</p>
          </div>
        </div>
        <a href="#" class="text-primary-500 flex items-center gap-1 underline-offset-4 hover:underline group">
          <span>View All</span>
          <Icon name="lucide:arrow-right" class="size-4 transition-all duration-300 group-hover:translate-x-1" />
        </a>
      </div>
      <!--Grid-->
      <div class="py-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {properties.map((property) => <PropertyCard {...property} />)}
      </div>
    </div>
  </Container>
</Section>
