---
import { Icon } from 'astro-icon/components'
import Section from '@components/Section.astro'
import Container from '@components/Container.astro'
---

<Section>
  <Container>
    <div class="flex flex-col md:flex-row items-center">
      <div class="w-full md:w-1/2 md:px-[5%] lg:ps-[98px] flex flex-col gap-2">
        <span class="uppercase text-primary-500 h-8 px-3 rounded border border-primary-500 w-max grid place-items-center text-xs">new offer</span>
        <h3 class="font-sans text-3xl leading-9 text-muted-900 dark:text-white mb-2">Coco Beach® private lofts</h3>
        <p class="text-muted-500 dark:text-muted-400 max-w-md text-base">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud non continuo, ut aeque incontentae. Duo Reges: constructio interrete. Si qua in iis corrigere voluit.
        </p>
        <div class="grid grid-cols-3 py-8">
          <!-- bedroom -->
          <div class="flex flex-col">
            <div class="flex items-center gap-2 text-muted-900 dark:text-white">
              <svg
                class="size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="--darkreader-inline-stroke: currentColor;"
                data-darkreader-inline-stroke=""
                ><path d="M2 20v-8a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v8"></path><path d="M4 10V6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v4"></path><path d="M12 4v6"></path><path d="M2 18h20"></path>
              </svg>
              <p class="text-lg font-bold">2</p>
            </div>
            <p class="text-sm text-muted-400">Bedrooms</p>
          </div>
          <!-- bathroom -->
          <div class="flex flex-col">
            <div class="flex items-center gap-2 text-muted-900 dark:text-white">
              <svg
                class="size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="--darkreader-inline-stroke: currentColor;"
                data-darkreader-inline-stroke=""
                ><path d="M9 6 6.5 3.5a1.5 1.5 0 0 0-1-.5C4.683 3 4 3.683 4 4.5V17a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5"></path><line x1="10" y1="5" x2="8" y2="7"></line><line
                  x1="2"
                  y1="12"
                  x2="22"
                  y2="12"></line><line x1="7" y1="19" x2="7" y2="21"></line><line x1="17" y1="19" x2="17" y2="21"></line>
              </svg>
              <p class="text-lg font-bold">2</p>
            </div>
            <p class="text-sm text-muted-400">Bathroom</p>
          </div>
          <!-- living area -->
          <div class="flex flex-col">
            <div class="flex items-center gap-2 text-muted-900 dark:text-white">
              <svg
                class="size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="--darkreader-inline-stroke: currentColor;"
                data-darkreader-inline-stroke=""
                ><path d="M5 3a2 2 0 0 0-2 2"></path><path d="M19 3a2 2 0 0 1 2 2"></path><path d="M21 19a2 2 0 0 1-2 2"></path><path d="M5 21a2 2 0 0 1-2-2"></path><path d="M9 3h1"></path><path
                  d="M9 21h1"></path><path d="M14 3h1"></path><path d="M14 21h1"></path><path d="M3 9v1"></path><path d="M21 9v1"></path><path d="M3 14v1"></path><path d="M21 14v1"></path>
              </svg>
              <p class="text-lg font-bold">175m²</p>
            </div>
            <p class="text-sm text-muted-400">Living Area</p>
          </div>
        </div>
        <a href="#" class="text-primary-500 flex items-center gap-1 underline-offset-4 hover:underline group">
          <span>See more details</span>
          <Icon name="lucide:arrow-right" class="size-4 transition-all duration-300 group-hover:translate-x-1" />
        </a>
      </div>
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col justify-end w-full max-w-[480px] min-h-[450px] -mt-8 mx-auto">
          <img
            class="absolute -bottom-8 start-1/2 -translate-x-1/2 w-full max-w-[410px] z-[2]"
            alt="Coco Beach® private lofts"
            src="/images/photo/building-clip-2.webp"
          />
          <div class="relative w-full pt-[45%] bg-primary-500/20 dark:bg-primary-500/10"></div>
        </div>
      </div>
    </div>
  </Container>
</Section>
