---
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";
import NumberBox from "@components/ui/number-boxes/NumberBox.astro";
---

<Section>
  <Container>
    <div class="lg:max-w-4xl overflow-y-hidden">
      <h2
        class="font-sans text-cyan-800 font-bold dark:text-white text-3xl leading-9 text-start md:leading-8"
      >
        The Booking Process:
      </h2>
    </div>

    <div class="py-8 overflow-hidden">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div
          class="column py-3 relative before:content-[''] before:absolute before:top-0 before:rounded-[100rem] before:bg-secondary before:opacity-[0.2] before:h-[125%] before:w-40 before:z-0 before:rotate-45 before:-translate-y-16 before:translate-x-10"
        >
          <NumberBox
            title="Step 1: Choose Your Dream Vacation"
            number="01"
            text="Browse our diverse selection of vacation homes, using filters to narrow down your options. Whether you're looking for a romantic getaway, a family-friendly house, or a luxury estate, we make the search process seamless."
          />
        </div>
        <div
          class="column py-3 relative before:content-[''] before:absolute before:top-0 before:rounded-[100rem] before:bg-secondary before:opacity-[0.2] before:h-[125%] before:w-40 before:z-0 before:rotate-45 before:-translate-y-[8rem] before:translate-x-20"
        >
          <NumberBox
            title="Step 2: Customize Your Experience"
            number="02"
            text="Browse our diverse selection of vacation homes, using filters to narrow down your options. Whether you're looking for a romantic getaway, a family-friendly house, or a luxury estate, we make the search process seamless."
          />
        </div>
        <div
          class="column py-3 relative before:content-[''] before:absolute before:top-0 before:rounded-[100rem] before:bg-secondary before:opacity-[0.2] before:h-[125%] before:w-40 before:z-0 before:rotate-45 before:translate-x-full"
        >
          <NumberBox
            title="Step 3: Confirm & Relax"
            number="03"
            text="Secure your booking with ease, receive your welcome information, and prepare for an unforgettable stay. We’ll provide everything you need for a smooth check-in and a stress-free vacation."
          />
        </div>
      </div>
    </div>
  </Container>
</Section>
