---
import Section from '@components/Section.astro'
import Container from '@components/Container.astro'
import ProjectCarousel from '@components/ui/carousel/ProjectCarousel.astro'
---

<Section>
  <Container>
    <div class="lg:max-w-4xl">
      <h2 class="font-sans text-4xl text-center md:text-start md:leading-tight text-muted-900 dark:text-white">Some of our recent projects</h2>
    </div>

    <ProjectCarousel />
  </Container>
</Section>
