---
import { Icon } from "astro-icon/components";
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";
---

<Section>
  <Container>
    <div class="flex flex-col md:flex-row items-center gap-6 mb-8">
      <div class="md:w-1/2 xs:w-full flex md:justify-center">
        <div class="max-w-[400px] relative">
          <img
            class="h-full relative z-0 drop-shadow-md"
            alt="A robust partnership"
            src="https://assets.guesty.com/image/upload/v1713835848/o9w6mgllfth7sepsocqt.jpg"
          />
          <!-- composition -->
          <div
            class="absolute z-[3] mb-4 border border-slate-600 dark:border-muted-800 -end-12 md:-end-12 -bottom-8 p-6 drop-shadow-xl shadow-slate-300/30 dark:shadow-muted-800/20 w-[280px] bg-white dark:bg-muted-950"
          >
            <p
              class="mb-2 flex justify-between items-center text-slate-700 dark:text-white font-sans text-base font-semibold"
            >
              Simply incredible
              <Icon
                name="fluent:star-emphasis-24-filled"
                class="size-4 text-cyan-400"
              />
            </p>
            <p class="text-muted-500 dark:text-muted-400 text-sm">
              Everything was perfect, a beautiful house, everything was great,
              thank you!
            </p>
            <div class="flex items-center gap-2 mt-4">
              <span class="text-slate-500 text-sm">Recent Guest</span>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-1/2 p-3 md:pe-[98px]">
        <h2
          class="text-slate-700 xs:text-2xl xs:underline xs:underline-offset-2 xs:text-nowrap dark:text-white font-sans text-3xl leading-9 font-semibold"
        >
          About Line Properties Service:
        </h2>
        <span
          class="text-slate-600 dark:text-muted-400 text-base py-2 flex flex-col gap-2"
        >
          <h3
            class="text-slate-600 dark:text-muted-400 font-semibold text-lg pb-2"
          >
            Welcome to Line Properties Inc, your local trusted partner for a
            memorable vacation.
          </h3>

          <p>
            Our company is dedicated to providing exceptional services in Myrtle
            Beach, North Myrtle Beach, Little River and Surfside Beach.
          </p>

          <p>
            Founded by a local family and grown to an amazing community. We
            understand the unique charm and allure of this vibrant coastal
            community and want to welcome you to the perfect vacation retreat.
            We are here to exceed your expectations.
          </p>

          <p>
            We provide a diverse selection of meticulously maintained
            properties, ranging from cozy beachfront condos to spacious family
            friendly homes. Our goal is to make your vacation unforgettable by
            offering top notch accommodations and ensuring your stay is as
            comfortable and enjoyable as possible.
          </p>

          <p>
            Founded on principles of integrity, transparency, and a passion for
            hospitality,Line Properties is proud to be a part of the local
            community. We prioritize building lasting relationships with ower
            guests, ensuring that every interaction is characterized by
            professionalism and genuine care.
          </p>

          <p>
            Explore our website to discover more about our services, browse our
            portfolio of properties, and learn whyLine Properties is the
            preferred choice for your next vacation in Myrtle Beach. We look
            forward to assisting you every step of the way.
          </p>

          <p>
            Experience the difference with us – What matters is the bottom <strong
              >LINE</strong
            >
          </p>
        </span>
        <ul class="py-4 md:ps-6">
          <li class="flex items-center gap-2 py-2">
            <li class="flex items-center gap-2 py-2">
              <Icon
                name="lucide:check"
                class="size-10 text-slate-600 text-success aspect-square"
              />
              <span class="text-slate-500 dark:text-muted-400"
                >Spotless:<span class="text-zinc-400 font-thin"
                  >Our professional cleaning team prepares each property to the
                  highest standards; enjoy a pristine, welcoming
                  space.</span
                ></span
              >
            </li>
            <li class="flex items-center gap-2 py-2">
              <Icon
                name="lucide:check"
                class="size-10 text-slate-600 text-success aspect-square"
              />
              <span class="text-slate-500 dark:text-muted-400"
                >Dependable Maintenance: <span class="text-zinc-400 font-thin"
                  >Our on-call maintenance staff promptly handles any issues
                  that arise, giving you peace of mind.</span
                ></span
              >
            </li>
            <li class="flex items-center gap-2 py-2">
              <Icon
                name="lucide:check"
                class="size-10 text-slate-600 text-success aspect-square"
              />
              <span class="text-slate-500 dark:text-muted-400"
                >24/7 Customer Support: <span class="text-zinc-400 font-thin"
                  >We are here day and night to answer your questions, handle
                  concerns, and provide the best service possible.</span
                ></span
              >
            </li>
          </li>
        </ul>
      </div>
    </div>
  </Container>
</Section>
