---
import { Icon } from "astro-icon/components";
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";
---

<Section>
  <Container>
    <div class="pb-16 mb-4 mt-20">
      <div class="flex flex-col md:flex-row items-center">
        <div class="p-3 md:ms-[8.3%] md:w-2/5">
          <h3
            class="font-sans font-semibold text-3xl text-slate-600 dark:text-white leading-tight"
          >
            About Line Properties Inc
          </h3>
          <p class="py-2 max-w-md text-muted-500 dark:text-muted-400">
            At Line Properties Inc., we are passionate about creating
            exceptional vacation experiences. With a diverse portfolio of
            stunning properties and a commitment to quality, we are dedicated to
            ensuring your time with us is unforgettable. Our knowledgeable team,
            excellent service, and meticulous attention to detail have made us a
            trusted name in vacation property management. Come stay with us and
            experience the Line Properties Inc. difference!
          </p>
          <!-- <div class="grid grid-cols-3 py-8">
            <div>
              <div
                class="flex items-center gap-2 text-cyan-600 dark:text-white"
              >
                <Icon class="size-5 text-cyan-600" name="lucide:building" />
                <span class="font-bold text-xl">30K</span>
              </div>
              <div>
                <p class="text-sm text-slate-500">Housings sold</p>
              </div>
            </div>
            <div>
              <div
                class="flex gap-2 items-center text-muted-900 dark:text-white"
              >
                <Icon class="size-5 text-cyan-600" name="lucide:crown" />
                <span class="font-bold text-xl text-cyan-600">43K</span>
              </div>
              <div>
                <p class="text-sm text-slate-500">Happy clients</p>
              </div>
            </div>
            <div>
              <div
                class="flex gap-2 items-center text-muted-900 dark:text-white"
              >
                <Icon class="size-5 text-cyan-600" name="lucide:briefcase" />
                <span class="font-bold text-xl text-cyan-600">415</span>
              </div>
              <div>
                <p class="text-sm text-slate-500">Live projects</p>
              </div>
            </div>
          </div> -->
        </div>
        <div class="md:w-1/2">
          <div
            class="relative flex flex-col justify-end max-w-[600px] min-h-[380px] md:min-h-[450px] -mt-8 mx-auto"
          >
            <img
              height={900}
              width={1100}
              class="block absolute bottom-0 start-1/2 -translate-x-1/2 z-[2]"
              src="/images/about_side_image.jpg"
              alt=""
            />
            <div class="relative w-full"></div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Section>
