---
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";
---

<Section>
  <Container>
    <!--Illustration 1-->
    <div class="pb-12 flex flex-col md:flex-row items-center">
      <div class="p-3 md:w-2/5 md:ms-[8.3%]">
        <img
          class="dark:hidden w-full xs:h-[326px] md:h-auto drop-shadow-md"
          src="https://images.ctfassets.net/tb2fjmysreao/5MALyS8wIeCCqmq0SKZuFV/e9f02c1dc9c970397a37eb1e95fd1998/sc-beach-fun.jpg"
          alt=""
        />
        <img
          class="dark:block hidden w-full xs:h-[326px] md:h-auto"
          src="https://images.ctfassets.net/tb2fjmysreao/5MALyS8wIeCCqmq0SKZuFV/e9f02c1dc9c970397a37eb1e95fd1998/sc-beach-fun.jpg"
          alt=""
        />
      </div>
      <div class="p-3 md:w-1/3 md:ms-[8.3%]">
        <h3
          class="xs:text-center md:text-base font-sans font-semibold text-3xl text-slate-600 dark:text-white leading-tight mb-6"
        >
          Enjoy an Ocean Front View
        </h3>
        <p
          class="xs:text-center md:text-base text-muted-500 dark:text-muted-400 text-base"
        >
          Wake up to the soothing sound of waves and breathtaking views of the
          horizon. Our oceanfront properties are designed to give you an
          unparalleled experience with stunning scenery, fresh coastal breezes,
          and the perfect setting for creating lifelong memories. Whether you're
          sipping your morning coffee on a private balcony or enjoying a sunset
          stroll on the beach, the ocean is always in view.
        </p>
      </div>
    </div>
    <!--Illustration 2-->
    <div class="pb-12 flex flex-col-reverse md:flex-row items-center">
      <div class="p-3 md:w-1/3 md:ms-[8.3%]">
        <h3
          class="xs:text-center md:text-base font-sans font-semibold text-3xl text-slate-600 dark:text-white leading-tight mb-6"
        >
          Expert agents help you make your choice
        </h3>
        <p
          class="xs:text-center md:text-base text-muted-500 dark:text-muted-400 text-base"
        >
          Our team of seasoned agents is dedicated to finding your perfect
          vacation retreat. With years of experience in the area and an eye for
          exceptional properties, we make your decision effortless. From cozy
          beachfront condos to spacious luxury villas, we guide you every step
          of the way, ensuring your stay is nothing short of extraordinary.
        </p>
      </div>
      <div class="p-3 md:w-2/5 md:ms-[8.3%]">
        <img
          class="dark:hidden w-full h-[326px] xs:h-auto md:h-auto drop-shadow-md"
          src="https://dreamsvacationrentals.com/wp-content/uploads/2021/10/kissimmee-florida-vacation-rental-property-management-agency.jpg"
          alt=""
        />
        <img
          class="dark:block hidden w-full h-[326px] xs:h-auto md:h-auto"
          src="https://dreamsvacationrentals.com/wp-content/uploads/2021/10/kissimmee-florida-vacation-rental-property-management-agency.jpg"
          alt=""
        />
      </div>
    </div>
    <!--Illustration 3-->
    <div class="flex flex-col md:flex-row items-center">
      <div class="p-3 md:w-2/5 md:ms-[8.3%]">
        <img
          class="dark:hidden w-full h-[326px] xs:h-auto md:h-auto drop-shadow-md"
          src="https://static.vecteezy.com/system/resources/previews/032/978/968/non_2x/pet-friendly-rubber-grunge-stamp-seal-vector.jpg"
          alt=""
        />
        <img
          class="dark:block hidden w-full h-[326px] xs:h-auto md:h-auto"
          src="https://static.vecteezy.com/system/resources/previews/032/978/968/non_2x/pet-friendly-rubber-grunge-stamp-seal-vector.jpg"
          alt=""
        />
      </div>
      <div class="p-3 md:w-1/3 md:ms-[8.3%]">
        <h3
          class="xs:text-center md:text-base font-sans font-semibold text-3xl text-slate-600 dark:text-white leading-tight mb-6"
        >
          We're Pet Friendly!
        </h3>
        <p
          class="xs:text-center md:text-base text-muted-500 dark:text-muted-400 text-base"
        >
          Bring your furry family members along for the adventure! At Line
          Properties Inc., we know that pets are part of the family, and many of
          our properties are equipped to welcome your four-legged companions.
          Enjoy pet-friendly accommodations, nearby parks, and plenty of outdoor
          spaces for them to explore and enjoy.
        </p>
      </div>
    </div>
  </Container>
</Section>
