---
import Section from '@components/Section.astro'
import Container from '@components/Container.astro'
import Testimonial from '@components/ui/Testimonial.astro'

interface Props {
  centerText?: boolean
}

const { centerText = false } = Astro.props
---

<Section>
  <Container>
    <div class="w-full flex flex-col">
      <div class:list={['mb-8', { 'flex flex-col items-center': centerText }]}>
        <h2 class="font-sans text-4xl font-medium leading-9 text-muted-900 dark:text-white">What they say about us</h2>
        {centerText && <p class="mt-2 text-xl text-muted-400 text-center">Yeah, we know... That's a bunch of happy people</p>}
      </div>
      <!--Grid-->
      <div class="py-8 flex flex-col lg:flex-row gap-6 bg-no-repeat" style="background-image: url('/images/shapes/1.svg');">
        <!-- column 1 -->
        <div class="flex flex-col md:flex-row lg:flex-col w-full lg:w-1/3 gap-6 lg:mb-6">
          <Testimonial
            name="Nicole James"
            address="Los Angeles, CA"
            image="/images/avatars/1.webp"
            review={`
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Confecta res esset.
              Aliter homines, aliter philosophos loqui putas oportere? Mihi, inquam, qui
              te id ipsum rogavi? Frater et T. Erat enim res aperta.
            `}
          />
          <Testimonial
            name="MarK Coleo"
            address="San Francisco, CA"
            image="/images/avatars/2.webp"
            review={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim hic etiam dolore. Quis negat. `}
          />
        </div>
        <!-- column 2 -->
        <div class="flex flex-col md:flex-row lg:flex-col w-full lg:w-1/3 gap-6 mt-5 lg:mb-6">
          <Testimonial
            name="Martha Stewart"
            address="San Bernardo, CA"
            image="/images/avatars/3.webp"
            review={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis negat? Atqui reperies, inquit, in hoc quidem pertinacem; Id Sextilius factum negabat. `}
          />
          <Testimonial
            name="Brian Welmingg"
            address="Los Angeles, CA"
            image="/images/avatars/4.webp"
            review={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hanc ergo intuens debet institutum illud quasi signum absolvere. Satis est ad hoc responsum. Nos commodius agimus. `}
          />
        </div>
        <!-- column 3 -->
        <div class="flex flex-col md:flex-row lg:flex-col w-full lg:w-1/3 gap-6 mt-8 lg:mb-6">
          <Testimonial
            name="Chris Stappler"
            address="Barton Inc."
            image="/images/avatars/5.webp"
            review={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hanc ergo intuens debet institutum illud quasi signum absolvere. Satis est ad hoc responsum. Nos commodius agimus. `}
          />
          <Testimonial 
            name="Nicole James" 
            address="Los Angeles, CA" 
            image="/images/avatars/6.webp" 
            review={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scisse enim. `} />
        </div>
      </div>
    </div>
  </Container>
</Section>
