---
import SideStats from "@components/sections/SideStats.astro";
import SideIllustrations from "@components/sections/SideIllustrations.astro";
import IconMatrix from "@components/sections/IconMatrix.astro";
import BoxedCta from "@components/sections/BoxedCta.astro";
import CustomerLogos from "@components/sections/CustomerLogos.astro";
import Layout from "@layouts/Split.astro";
import HeroAbout from "@components/sections/HeroAbout.astro";
import RandomReviewsGrid from "@components/RandomReviewsSlider";
---

<Layout title="About">
  <main id="About">
    <!--Hero-->
    <HeroAbout />
    <div class="pt-16">
      <SideStats />
    </div>

    <SideIllustrations />

    <!--Testimonials-->
    <RandomReviewsGrid client:only="react" />
    <!--Icon matrix-->
    <IconMatrix />

    <!--Customer Logos-->
    <CustomerLogos />

    <!--Boxed Cta-->
    <BoxedCta />
  </main>
</Layout>
