---
const API_URL = import.meta.env.PUBLIC_NOETICS_CMS_API_URL + "/posts";
const res = await fetch(API_URL);
const posts = await res.json();
---

<h1>Blog</h1>
<ul>
    {
        posts.map((post: { slug: any; title: unknown }) => (
            <li>
                <a href={`/blog/${post.slug}`}>{post.title}</a>
            </li>
        ))
    }
</ul>
