---
import { properties } from '@data/properties'
import { Icon } from 'astro-icon/components'
import Layout from '@layouts/Split.astro'
import Section from '@components/Section.astro'
import Container from '@components/Container.astro'
import PropertySearch from '@components/ui/PropertySearch.astro'
import PropertyCard from '@components/ui/PropertyCard.astro'
---

<Layout title="Properties">
  <main id="Properties">
    <!--Properties-->
    <Section>
      <div></div>
     <div class="bg-opacity-25 bg-cover bg-center shadow-lg bg-homehero" style="background-image:linear-gradient(#f1f1f5c4, #f1f1f509), url(images/hero.jpg)">
        <div class="flex flex-col justify-center align-center items-center h-full max-w-3xl mx-auto pt-20 pb-40 ">
          <div class="pt-16 pb-6">
            <h1 class="text-3xl font-sans text-slate-800 font-bold text-center mb-2" style="text-shadow: 0px 4px 12px rgba(0,0,0,0.4);">Explore Properties</h1>
            <h2 class="text-xl text-slate-800 leading-5 text-center font-semibold" style="text-shadow: 0px 4px 12px rgba(0,0,0,0.4);">We help you find the perfect space for you and your family.</h2>
          </div>
          <!-- search -->
          <PropertySearch />
        </div>
      </div>
        <div class="flex flex-col items-center pt-8 border-t-2 px-8 ">
          <div class="relative">
            <h2 class=" text-3xl font-sans text-muted-900 text-center">Available properties</h2>
            <h4 class="text-base text-muted-500 leading-5 text-center pb-4">We found 45 matching properties</h4>

            <div class="relative">
              <input
                type="text"
                class="w-full sm:w-80 peer outline-none focus:outline-none p-3 ps-12 border border-gray-400 hover:border-muted-300 text-muted-600 placeholder:text-muted-200 transition-all duration-300 rounded h-12 text-base"
                placeholder="Filter..."
              />
              <div class="peer-focus:[&>svg]:text-primary-500 absolute start-0 top-0 grid place-items-center h-12 w-12">
                <Icon class="size-5 text-muted-300 stroke-[1.6px] transition-all duration-300" name="lucide:search" />
              </div>
            </div>
          </div>
        </div>

        <!-- property cards -->
        <div class="py-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-6">
          {properties.map((property) => <PropertyCard {...property} />)}
        </div>

        <!-- pagination -->
      <div>
        <div class="pb-2 pt-12 w-full flex flex-row justify-center">
          <nav class="flex flex-wrap justify-center md:justify-center items-center text-base gap-2" role="navigation">
            <ul class="flex-grow flex-shrink flex justify-center md:justify-start items-center gap-1 list-none w-full md:w-auto order-3 md:order-1">
              <li>
                <a
                  class="min-w-10 cursor-pointer rounded text-white border bg-primary-500 shrink-0 justify-center inline-flex p-2 text-base shadow-lg shadow-primary-500/20"
                  aria-label="Page 46"
                  aria-current="page">1</a
                >
              </li>
              <li>
                <span class="pagination-ellipsis text-muted-400 text-base p-2 justify-center flex">&hellip;</span>
              </li>
              <li>
                <a
                  class="min-w-10 bg-white shrink-0 justify-center inline-flex p-2 text-base"
                  aria-label="Goto page 45">4</a
                >
              </li>
              <li>
                <a
                  class="min-w-10 bg-white shrink-0 justify-center inline-flex p-2 text-base"
                  aria-label="Goto page 1">5</a
                >
              </li>
              <li>
                <a
                  class="min-w-10 bg-white shrink-0 justify-center inline-flex p-2 text-base"
                  aria-label="Goto page 47">6</a
                >

            </ul>

          </nav>
        </div>
        <div class="flex justify-center items-start pb-6">
          <a
          class="flex-1 md:flex-initial order-1 md:order-2 min-w-[40px] min-h-[40px] transition-all duration-300 hover:border-primary hover:text-primary-500 border border-muted-200 bg-white items-center justify-center inline-flex p-2 rounded cursor-pointer"
        >
          <Icon class="h-4" name="lucide:arrow-left" />
        </a>
        <a
          class="flex-1 md:flex-initial order-2 md:order-3 min-w-[40px] min-h-[40px] transition-all duration-300 hover:border-primary hover:text-primary-500 border border-muted-200 bg-white justify-center items-center inline-flex p-2 rounded cursor-pointer"
        >
          <Icon class="h-4" name="lucide:arrow-right" />
        </a>
        </div>
      </div>
      </Container>
    </Section>
  </main>
</Layout>
