---
import Layout from "@layouts/Split.astro";
import Section from "@components/Section.astro";
import App from "../components/App";
import TagNavigation from "@components/TagNavigation";
---

<Layout title="Properties">
  <Section>
    <div class="pt-20">
      <App client:only="react" />
    </div>
    <TagNavigation client:only="react" />
  </Section>
</Layout>
