---
import Layout from "@layouts/Split.astro";
import Section from "@components/Section.astro";
import HomeHero from "@components/sections/HomeHero.astro";
import TagNavigation from "@components/TagNavigation";
import { Home } from "lucide-react";
import RandomReviewsGrid from "@components/RandomReviewsSlider";
import PrefetchAvailability from "@components/PrefetchAvailability";
---

<Layout title="Properties">
  <Section>
    <div class="">
      <div class="bg-secondary h-full w-full"><HomeHero /></div>
      <div class="w-screen bg-secondary">
        <RandomReviewsGrid client:only="react" />
      </div>
      <div class="pt-12 grid grid-cols-2">
        <div class="col-span-2 place-content-center">
          <h2 class="text-3xl text-secondary font-bold text-center mb-4">
            Browse vacation properties by tag
          </h2>
        </div>

        <div class="col-span-2 place-content-end">
          <TagNavigation client:only="react" />
        </div>
      </div>
    </div>
  </Section>
  <PrefetchAvailability client:only="react" />
</Layout>
