---
import Layout from '@layouts/Split.astro'
import Section from '@components/Section.astro'
import Page2 from '@components/Page2.astro'
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";
import AvailabilitySearch from '../components/AvailabilitySearch'
import GuestyListings from '../components/GuestyListings.astro'
import Testimonials from '@components/sections/Testimonials.astro';
import Process from '@components/sections/Process.astro';
import SideFeatureOne from '@components/sections/SideFeatureOne.astro';
import SideFeatureTwo from '@components/sections/SideFeatureTwo.astro';
import SideIllustrations from '@components/sections/SideIllustrations.astro';

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "landingPageblog",
});

const posts = entries.items.map((item) => {
  const { heroTitle, content, slug, mainBlogImage, date } = item.fields;
  return {
    heroTitle,
    content,
    slug,
    mainBlogImage,
    date: new Date(date).toLocaleDateString(),
  };
});
---

<Layout title="Properties">
  <main id="Properties">
    <!--Properties-->
    <Section>

<div class="md:bg-[url('/images/lp-temp.svg')] h-full bg-auto bg-stone-200 xs:pt-36 md:pt-64 bg-no-repeat md:bg-left-quarter md:px-24 px-3">
    <h1 class="font-bold text-cyan-900 mb-4 text-3xl text-center">Find your perfect vacation rental</h1>
    <p class="text-center text-slate-500">Book your next vacation rental with us. We offer a wide selection of vacation rentals in the most popular destinations. </p>
    <div class="flex flex-row justify-center align-middle h-full w-full md:mb-20 mt-5">
        <AvailabilitySearch client:load />
    </div>
</div>
        
        <h2 class="font-bold text-cyan-900 mb-4 mt-2 text-3xl text-center">Featured Listings</h2>
        <div class="py-3 md:px-24 px-3 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6">
            
          <GuestyListings />
          
        </div>
        <div class="mt-7">
          <span id="listing2" class="hidden py-3 px-24 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6">
            <Page2 />
          </span>
          <span class="flex justify-center align-center mb-8">
            <button id="showHide" class="bg-cyan-600 px-6 py-2 shadow-md shadow-cyan-500/30 rounded-3xl text-white mt-6"> Search through more of our listings </button>
          </span>
        </div>

        <div class="md:mb-12 mt-20">
          <SideIllustrations />
        </div>
        <div class="md:my-12"><Testimonials /></div>
        <div class=" md:my-12"><SideFeatureOne /></div>
        
        <div class="md:my-12"> 
          <Process />
        </div>
        <SideFeatureTwo />

         
    </Section>
    <!-- <div class="flex justify-center align-center mb-4 mt-12 pt-12 border-t border-slate-200/30">
      <h2 class="font-bold text-cyan-900 mb-4 px-2 text-center md:text-3xl text-2xl">Check out our recent blogs</h2>
    </div>
    <div class="mb-12 md:w-full border-none xs:mx-6 md:mx-24 lg:mx-32 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-2 justify-items-center items-center">
      <ul class="border border-slate-300 shadow-lg shadow-muted-300 p-2 rounded-md max-h-max">
        {posts.map((post, index) => (
          <li>
            <a href={`/posts/${post.slug}/`}>
              {post.mainBlogImage && (
                <img class="bg-white object-contain md:w-full shadow-lg shadow-muted-300" src="https://images.ctfassets.net/tb2fjmysreao/5MALyS8wIeCCqmq0SKZuFV/e9f02c1dc9c970397a37eb1e95fd1998/sc-beach-fun.jpg" alt={post.heroTitle} />
              )}
              <div class="md:px-3 pt-3 flex flex-col justify-center items-center md:w-full">
                <h2 class="font-bold text-muted-900 text-lg pt-1">{post.heroTitle}</h2>
                <p class="pt-1 text-center">{post.content}</p>
              </div>
            </a>
          </li>
          ))}
         <a href={`/posts//`} class="bg-cyan-600 py-2 flex md:w-full justify-center rounded-md text-center text-muted-100 mt-4">Read More</a>

      </ul>
      
    </div> -->
  </main>
</Layout>