---
import Layout from "@layouts/Split.astro";
import Section from "@components/Section.astro";
import Page2 from "@components/Page2.astro";
import GuestyListings from "../components/GuestyListings.astro";
import App from "../components/App";
import TagNavigation from "@components/TagNavigation";
import FeaturedListings from "@components/FeaturedListings.astro";
---

<Layout title="Properties">
  <Section>
    <div
      class="pt-20 h-full flex flex-col justify-center items-center bg-white w-full bg-neutral-950/50 bg-center bg-no-repeat"
    >
      <App client:only="react" />
    </div>
    <TagNavigation client:only="react" />
    <FeaturedListings />
  </Section></Layout
>
