---
import Layout from "@layouts/Split.astro";
import Section from "@components/Section.astro";
import Page2 from "@components/Page2.astro";
import GuestyListings from "../components/GuestyListings.astro";
import Testimonials from "@components/sections/Testimonials.astro";
---

<Layout title="home">
    <Section>
        <div class="mt-24"><Testimonials /></div>

        <div class="mt-[-10px]">
            <h2
                class="font-bold text-slate-800 m-0 bg-white text-4xl pt-12 pb-3 text-center"
            >
                Featured Listings
            </h2>
            <div
                class="pb-3 md:px-24 grid grid-cols-1 md:grid-cols-5 my-0 bg-white gap-6"
            >
                <GuestyListings />
            </div>
            <span
                class="flex bg-white xs:px-16 justify-center h-full py-8 align-center"
            >
                <button
                    id="showHide"
                    class="bg-secondary md:text-2xl font-bold py-2 px-4 rounded-md text-slate-100"
                    ><span class="door-text">More Listings Here</span></button
                >
            </span>
            <div class="w-full bg-white">
                <span
                    id="listing2"
                    class="hidden py-7 px-6 md:px-24 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6"
                >
                    <Page2 />
                </span>
            </div>
        </div>
    </Section>
</Layout>
