---
import Layout from "@layouts/Split.astro";
import HeroPropertyOwners from "@components/sections/HeroPropertyOwners.astro";
import PrivateLoft from "@components/sections/PrivateLoft.astro";
import FadeBoxes from "@components/sections/FadeBoxes.astro";
import SideFeatureTwo from "@components/sections/SideFeatureTwo.astro";
import SideFeatureOne from "@components/sections/SideFeatureOne.astro";
import SideVideoOne from "@components/sections/SideVideoOne.astro";
import OwnersTestimonials from "@components/sections/OwnersTestimonials.astro";
import BoxedCta from "@components/sections/BoxedCta.astro";
---

<Layout title="Home">
  <main id="Home">
    <!--Split Hero-->
    <HeroPropertyOwners />

    <!--Popular properties (x3)-->
    <!-- <PopularProperties properties={properties.slice(0, 3)} /> -->

    <!--Fading hover boxes-->
    <FadeBoxes />

    <!-- TALENTED -->
    <!-- <SideVideoOne /> -->
    <section>
      <h2
        class="font-sans leading-9 text-slate-700 font-semibold text-2xl text-center"
      >
        Our Talented and Experienced Agents
      </h2>
      <div
        class="grid grid-cols-3 gap-8 justify-center items-center px-28 pt-12"
      >
        <div
          class="flex flex-col gap-6 p-8 border border-slate-900/20 shadow-lg"
        >
          <h3 class="font-semibold text-lg text-slate-700">Solid Expertise</h3>
          <p>
            Our agents bring years of industry knowledge and a deep
            understanding of the vacation rental market. We use proven
            strategies to manage your property efficiently, ensuring high
            occupancy rates and exceptional guest reviews.
          </p>
        </div>
        <div
          class="flex flex-col gap-6 p-8 border border-slate-900/20 shadow-lg"
        >
          <h3 class="font-semibold text-lg text-slate-700">Creativity</h3>
          <p>
            We approach property management with creativity, developing
            innovative ways to enhance guest satisfaction and set your property
            apart from the competition. From personalized guest experiences to
            strategic marketing, we help your property shine.
          </p>
        </div>
        <div
          class="flex flex-col gap-6 p-8 border border-slate-900/20 shadow-lg"
        >
          <h3 class="font-semibold text-lg text-slate-700">Technicity</h3>
          <p>
            We integrate the latest technology, including smart home systems and
            advanced property management software, to streamline operations and
            improve the guest experience. Our use of cutting-edge tools makes
            managing your property effortless and keeps you in the loop with
            real-time updates.
          </p>
        </div>
      </div>
    </section>

    <!-- RANKING -->
    <div class="mt-12"><SideFeatureOne /></div>

    <!-- PARTNERSHIP -->
    <SideFeatureTwo />

    <!-- WHAT THEY SAY -->
    <OwnersTestimonials />

    <!--Private Loft-->
    <PrivateLoft />

    <!-- ENGAGE/CTA-->
    <BoxedCta />
  </main>
</Layout>
