---
import Layout from "@layouts/Split.astro";
import HeroPropertyOwners from "@components/sections/HeroPropertyOwners.astro";
import PrivateLoft from "@components/sections/PrivateLoft.astro";
import FadeBoxes from "@components/sections/FadeBoxes.astro";
import SideFeatureTwo from "@components/sections/SideFeatureTwo.astro";
import SideFeatureOne from "@components/sections/SideFeatureOne.astro";
import SideVideoOne from "@components/sections/SideVideoOne.astro";
import OwnersTestimonials from "@components/sections/OwnersTestimonials.astro";
import BoxedCta from "@components/sections/BoxedCta.astro";
---

<Layout title="Home">
  <main id="Home">
    <!--Split Hero-->
    <HeroPropertyOwners />

    <!--Popular properties (x3)-->
    <!-- <PopularProperties properties={properties.slice(0, 3)} /> -->

    <!--Fading hover boxes-->
    <FadeBoxes />

    <!-- TALENTED -->
    <!-- <SideVideoOne /> -->
    <section class="flex flex-col">
      <h2
        class="font-sans leading-9 text-slate-950 font-semibold text-3xl text-center"
      >
        Our Talented and Experienced Agents
      </h2>
      <div
        class="grid xs:grid-cols-1 md:grid-cols-4 gap-2 justify-center items-center px-28 pt-12"
      >
        <div
          class="flex flex-col gap-6 px-8 pt-4 border border-slate-900/20 shadow-lg md:min-h-[250px] max-h-[250px]"
        >
          <h3 class="font-semibold text-lg text-slate-950">
            Comprehensive Management Services:
          </h3>
          <p>
            From marketing and advertising your property across multiple
            platforms to handling inquiries and reservations, we manage all
            aspects of the rental process. Our goal is to attract quality guests
            and ensure a seamless booking experience.
          </p>
        </div>
        <div
          class="md:min-h-[250px] max-h-[250px] flex flex-col gap-6 px-8 pt-4 border border-slate-900/20 shadow-lg"
        >
          <h3 class="font-semibold text-lg text-slate-950">
            Optimized Pricing Strategies:
          </h3>
          <p>
            We conduct thorough market analyses to set competitive rental rates
            that maximize your income while remaining attractive to guests. Our
            dynamic pricing strategies adjust rates based on seasonality, demand
            trends, and local events.
          </p>
        </div>
        <div
          class="md:min-h-[250px] max-h-[250px] flex flex-col gap-6 px-8 pt-4 border border-slate-900/20 shadow-lg"
        >
          <h3 class="font-semibold text-lg text-slate-950">
            Guest Screening and Communication:
          </h3>
          <p>
            We carefully screen potential guests to ensure they meet our
            standards, and we handle all communication before, during, and after
            their stay. Our team is available 24/7 to address guest inquiries
            and emergencies, ensuring a positive experience for all parties.
          </p>
        </div>
        <div
          class="md:min-h-[250px] max-h-[250px] flex flex-col gap-6 px-8 pt-4 border border-slate-900/20 shadow-lg"
        >
          <h3 class="font-semibold text-lg text-slate-950">
            Professional Maintenance and Housekeeping:
          </h3>
          <p>
            We coordinate regular inspections, maintenance, and repairs to keep
            your property in pristine condition. Our network of trusted vendors
            and contractors ensures prompt and reliable service, enhancing guest
            satisfaction and property value.
          </p>
        </div>
      </div>
      <div
        class="grid xs:grid-cols-1 md:grid-cols-4 gap-2 pt-4 justify-center items-center px-28 p-8"
      >
        <div
          class="flex flex-col gap-6 px-8 pt-4 border border-slate-900/20 shadow-lg md:min-h-[250px] max-h-[250px]"
        >
          <h3 class="font-semibold text-lg text-slate-950">
            Financial Reporting and Transparency:
          </h3>
          <p>
            Owners have access to detailed financial statements and reports,
            providing transparency into rental income, expenses, and occupancy
            rates. Our streamlined accounting processes make it easy to track
            your property's performance.
          </p>
        </div>
        <div
          class="md:min-h-[250px] max-h-[250px] flex flex-col gap-6 px-8 pt-4 border border-slate-900/20 shadow-lg"
        >
          <h3 class="font-semibold text-lg text-slate-950">
            Local Compliance and Regulation:
          </h3>
          <p>
            We stay updated on local regulations, licensing requirements, and
            tax obligations to ensure your property remains in compliance. We
            handle all necessary paperwork and filings on your behalf, giving
            you peace of mind.
          </p>
        </div>
        <div
          class="md:min-h-[250px] max-h-[250px] flex flex-col gap-6 px-8 pt-4 border border-slate-900/20 shadow-lg"
        >
          <h3 class="font-semibold text-lg text-slate-950">
            Dedicated Owner Portal:
          </h3>
          <p>
            Our secure online portal allows you to monitor reservations, view
            financial statements, and communicate with our team conveniently
            from anywhere, at any time.
          </p>
        </div>
        <div
          class="md:min-h-[250px] max-h-[250px] flex flex-col gap-6 px-8 pt-4 border border-slate-900/20 shadow-lg"
        >
          <h3 class="font-semibold text-lg text-slate-950">
            Personalized Service:
          </h3>
          <p>
            Line Properties we believe in building long-term relationships with
            our clients. You can count on us to provide personalized attention,
            tailored solutions, and proactive management strategies that align
            with your goals.
          </p>
        </div>
      </div>
    </section>

    <!-- RANKING -->
    <div class="mt-12"><SideFeatureOne /></div>

    <!-- PARTNERSHIP -->
    <SideFeatureTwo />

    <!-- WHAT THEY SAY -->
    <OwnersTestimonials />

    <!--Private Loft-->
    <PrivateLoft />

    <!-- ENGAGE/CTA-->
    <BoxedCta />
  </main>
</Layout>
