---
interface Props {
  fluid?: boolean;
}

const { fluid = false } = Astro.props;
---

<div
  class="w-full mx-auto overflow-x-hidden"
  class:list={[fluid ? "" : "max-w-full px-8"]}
>
  <slot />
</div>
