---
import GuestyListings from "../components/GuestyListings.astro";
---

<div class="mt-[-10px]">
    <h2 class="font-bold text-slate-800 m-0 text-4xl pt-12 pb-3 text-center">
        Featured Listings
    </h2>
    <div
        class="py-8 flex flex-col lg:flex-row gap-6 bg-no-repeat"
        style="background-image: url('/images/shapes/1.svg');"
    >
        <div class="pb-3 md:px-24 grid grid-cols-1 md:grid-cols-5 my-0 gap-6">
            <GuestyListings />
        </div>
    </div>
</div>
