---
import { APP } from "@data/config";
import { Icon } from "astro-icon/components";
import Logo from "./ui/Logo.astro";
import MegaMenu from "./ui/MegaMenu.astro";
import AccountMenu from "./ui/AccountMenu.astro";
---

<div
  id="HeaderWrapper"
  x-data="navbar"
  x-on:scroll.window="scroll()"
  x-on:mouseleave="megamenuOpened = false"
  role="navigation"
  aria-label="main navigation"
  class="absolute top-0 start-0 w-full bg-white border-slate-100"
>
  <header
    id="MainHeader"
    class="min-h-[70px] w-full max-w-full px-3 mx-auto flex flex-col md:flex-row bg-white md:justify-start justify-evenly shadow lg:shadow-md lg:px-8"
  >
    <div class="flex items-center gap-4">
      <a href="/" class="flex gap-4 py-2">
        <img
          src="/images/lp-final-top.png"
          alt="logo"
          class="xs:w-44 xs:h-8 md:w-64"
        />
      </a>
    </div>

    <nav>
      <ul
        id="LeftLinks"
        class="flex flex-col bg-slate-50 md:flex-row [&>li>a]:h-full"
      >
      </ul>
    </nav>
  </header>
</div>
<MegaMenu />

<script>
  document.addEventListener("alpine:init", () => {
    //@ts-ignore
    Alpine.data("navbar", () => ({
      scrolled: false,
      height: 60,
      mobileOpen: false,
      megamenuOpened: false,
      openedMegamenu: "megamenu-1",

      scroll() {
        let scrollValue = window.scrollY;
        if (scrollValue >= this.height) {
          this.scrolled = true;
        } else {
          this.scrolled = false;
        }
        //@ts-ignore
        this.searchExpanded = false;
      },
      openMobileMenu() {
        this.mobileOpen = !this.mobileOpen;
      },
      init() {
        document
          .querySelectorAll('.scroll-link[href^="#"]')
          .forEach((trigger) => {
            //@ts-ignore
            trigger.onclick = function (e: any) {
              e.preventDefault();
              let hash = this.getAttribute("href");
              //@ts-ignore
              let target = document.querySelector(hash);
              let headerOffset = 100;
              //@ts-ignore
              let elementPosition = target.offsetTop;
              let offsetPosition = elementPosition - headerOffset;

              window.scrollTo({
                top: offsetPosition,
                behavior: "smooth",
              });
            };
          });
      },
    }));
  });
</script>
