---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import NavbarSplit from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import ScrollTop from "@components/ui/ScrollTop.astro";
import "@/styles/global.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <GoogleFontsOptimizer
      url={[
        "https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600",
        "https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap",
      ]}
    />

    <slot name="head" />
    <style>
      #home-nav {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="Top"></div>
    <NavbarSplit />
    <slot />
    <ScrollTop />
    <Footer />
    <script>
      import { MASONRY_THEME, MASONRY_LOGGEDIN } from "@/constants";

      document.addEventListener("alpine:init", () => {
        //@ts-ignore
        Alpine.store("app", {
          init() {
            this.isDark =
              MASONRY_THEME in localStorage
                ? localStorage.getItem(MASONRY_THEME) === "dark"
                : window.matchMedia("(prefers-color-scheme: dark)").matches;

            this.isLoggedIn =
              MASONRY_LOGGEDIN in localStorage
                ? localStorage.getItem(MASONRY_LOGGEDIN) === "true"
                : false;
          },
          toggleTheme() {
            this.isDark = !this.isDark;
            localStorage.setItem(MASONRY_THEME, this.isDark ? "dark" : "light");
          },
          login() {
            this.isLoggedIn = true;
            localStorage.setItem(MASONRY_LOGGEDIN, "true");
          },
          logout() {
            this.isLoggedIn = false;
            localStorage.setItem(MASONRY_LOGGEDIN, "false");
          },
          isDark: false,
          isLoggedIn: false,
        });
      });
    </script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"
    ></script>
  </body>
</html>
