---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import ScrollTop from "@components/ui/ScrollTop.astro";
import "@/styles/global.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/logo/logo.svg" />
    <meta name="generator" content={Astro.generator} />

    <GoogleFontsOptimizer
      url={[
        "https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600",
        "https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap",
      ]}
    />

    <slot name="head" />
  </head>
  <body x-data>
    <div id="Top"></div>

    <slot />
    <ScrollTop />
    <script
      is:inline
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX8EfMV4hWzdWqiP2iieh7eA3ZMJUQUDE&callback=initMap"
      async
      defer></script>
  </body>
</html>
