---
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
import ScrollTop from '@components/ui/ScrollTop.astro'
import '@/styles/global.scss'

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/logo/logo.svg" />
    <meta name="generator" content={Astro.generator} />


    <GoogleFontsOptimizer
      url={[
        'https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600',
        'https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap',
      ]}
    />
    <script src="https://www.google.com/recaptcha/api.js" async defer is:inline></script>
    <slot name="head" />
  </head>
  <body x-data>
    <div id="Top"></div>

    <slot />
    <ScrollTop />
    <script is:inline>
      function onSubmit(token) {
        fetch("/recaptcha", {
          method: "POST",
          body: JSON.stringify({ recaptcha: token })
        })
        .then((response) => response.json())
        .then((gResponse) => {
          if (gResponse.success) {
            // Captcha verification was a success
          } else {
            // Captcha verification failed
          }
        })
      }
    </script>
  </body>
</html>
