---
import { SEO } from 'astro-seo'
import type { Props as IAstroSEO } from 'astro-seo'
import { setDescription, setTitle } from '@utils/utils'
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
import NavbarSplit from '@components/NavbarSplit.astro'
import Footer from '@components/Footer.astro'
import ScrollTop from '@components/ui/ScrollTop.astro'
import '@/styles/global.scss'
interface Props extends IAstroSEO {}
const { title = '', description = '', ...props } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/logo/logo.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO title={setTitle(title)} description={setDescription(description)} {...props} />

    <GoogleFontsOptimizer
      url={[
        'https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600',
        'https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap',
      ]}
    />


    <slot name="head" />

  </head>
  <body>
    <div id="Top"></div>
    <NavbarSplit />
    <slot />
    <ScrollTop />
    <Footer />

  </body>
</html>
