<div class="polka-dots relative w-[100px] aspect-square flex justify-center items-center flex-wrap">
  {
    [...new Array(16)].map((dot) => (
      <span class="flex items-center justify-center w-6 aspect-square transition-all duration-[.25s] ease-in-out after:content-[''] after:relative after:w-1.5 after:aspect-square after:rounded-full after:opacity-[.55] after:transition-all after:duration-[.25s] after:ease-in-out after:bg-muted-300 after:dark:opacity-20" />
    ))
  }
</div>
