---
import { Icon } from 'astro-icon/components'
import SelectBox from './SelectBox.astro'
import BoxedTab from './BoxedTab.astro'
import allListings from '../../pages/api/guesty'
---

<form action="">
  <!-- tabs -->
  <!-- <ul aria-label="Tabs" class="flex relative z-10">
    <li aria-label="Tab">
      <BoxedTab label="Buy" selected={true} />
    </li>
    <li aria-label="Tab">
      <BoxedTab label="Rent" />
    </li>
  </ul> -->

  <div class="bg-white relative -mt-px z-[5] flex justify-between flex-col md:flex-row gap-2 items-center lg:w-max ">
    <!-- select -->
    <SelectBox placeholder="Property Type" options={['Private residence', 'Private house', 'Apartment', 'Mansion']} id="PropertyType" />

    <!-- search input -->
    <div class="flex justify-between items-center gap-2 bg-white dark:bg-muted-900 px-4 rounded-3xl border border-cyan-200">
      <input type="text" placeholder="Search by location" class="peer focus:outline-none w-full bg-white font-semibold text-muted-900" />

      <!-- icon -->
      <div class="size-16 text-muted-600 peer-focus:text-cyan-500 flex justify-center items-center">
        <Icon name="lucide:search" class="size-4" />
      </div>
    </div>

    <button
      type="submit"
      class="h-12 min-w-40 w-full md:w-max font-medium text-lg rounded-3xl flex justify-center items-center transition-all duration-300 bg-cyan-600 text-white shadow-md shadow-cyan-500/30 hover:shadow-lg hover:shadow-cyan-500/30" :class="{'shadow-lg shadow-cyan-500/30': scrolled}"
      >Search</button
    >
  </div>

  <!-- only new -->
  <!-- <div class="mt-6">
    <label for="new-properties" class="inline-flex relative items-center cursor-pointer">
      <input id="new-properties" type="checkbox" class="appearance-none peer" />
      <div
        class="relative inline-block w-[48px] h-[28px] bg-muted-100 dark:bg-muted-900 border border-muted-200 dark:border-muted-800 peer-focus:outline-none after:border rounded-full peer-checked:bg-primary-500 transition-all duration-300 ease-linear before:content-[''] before:absolute before:w-[42px] before:h-[22px] before:dark:bg-muted-900 before:rounded-full before:bg-muted-100 before:[transform:translate3d(2px,2px,0)_scale3d(1,1,1)] before:transition-all before:duration-[0.25s] before:ease-linear after:content-[''] after:absolute after:w-[22px] after:h-[22px] after:bg-white after:rounded-full after:shadow-md after:[transform:translate3d(2px,2px,0)] peer-checked:before:[transform:translate3d(18px,2px,0)_scale3d(0,0,0)] peer-checked:after:[transform:translate3d(22px,2px,0)] after:transition-all after:duration-[0.2s] after:ease-in-out"
      >
      </div>
      <span class="ms-3 text-sm font-medium text-muted-400">Only include new properties</span>
    </label>
  </div> -->

  <!-- <Switch /> -->
</form>
