---
// import { Image } from "@astrojs/image/components";

interface Props {
  name: string
  address: string
  image: string
  review: string
}
const { name, address, image, review } = Astro.props
---

<section aria-label="Testimonial" class="p-[30px] bg-white dark:bg-muted-950 shadow-lg shadow-muted-300/30 dark:shadow-muted-800/20 border border-muted-200 dark:border-muted-800">
  <svg class="w-6 aspect-auto text-primary-500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 448 512"
    ><path
      fill="currentColor"
      d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64h-64c-35.3 0-64-28.7-64-64V216z"
    ></path>
  </svg>

  <p class="text-muted-500 dark:text-muted-400 text-[15px] leading-[22px] mt-2 mb-4">
    {review}
  </p>

  <div class="flex items-center gap-2">
    <img src={image} alt="Customer" class="h-8 w-8 rounded-full" />
    <div class="flex flex-col">
      <span class="text-sm text-muted-900 dark:text-white font-semibold">{name}</span>
      <small class="text-sm text-muted-400">{address}</small>
    </div>
  </div>
</section>
